$black:      #333;
$gray:       #ddd;
$gray-light: #999;
$white:      #fff;
$red:        #AD140D;
$gray-text:  $gray;

$font-size: 14px;
$line-height: 20px;
$font-family: "Roboto Condensed", Arial, sans-serif;
$font-family-2nd: Lato, Tahoma, sans-serif;

$container-xs-width: 320px;
$container-sm-width: 750px;
$container-md-width: 768px;
$container-lg-width: 1200px;

